.tile-grid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tile-row{
    flex-direction: column;
}
.tile{
    width: 25px;
    height: 25px;
    border: solid 1px black;
}
.tile-alive{
    background: green;
}
.tile-dead{
    background: red;
}